extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Danh Sach San Pham")

    .row
      .col-4.mb-3
        .product-item
          .item-image
            img(src="https://cdn.daca.vn/media/anh/bg-intro.svg", alt="Iphone 9")
          .inner-content
            h3.inner-title iPhone 9
            .inner-price-new 80$
            .inner-price-old 100$
            .inner-discount -20%
